<div>
    <p style="background-color: #F1F1F1; text-align: center; font-size: xx-large;border-top: 1px solid black;border-bottom: 1px solid black;">
        BIII Transporte Rodoviário de Cargas Ltda
    </p>
    <p style="margin: 30px;">
        <br />
        Caro Sr(a).,
        <br />
        <br />
        Como pedido, segue em anexo a ficha, quaisquer dúvidas por favor entre em contato.
        <br /><br />
        Mauro Roberto Bastiani <br />
        BIII Transporte Rodoviário de Cargas Ltda. <br />
        (11) 2293-5862 / (11) 97020-3332 / (11) 7745-6613<br />
    </p>
</div>