@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(!Request.Browser.IsMobileDevice)
{
    <div id="logo">
        <img src="../../Content/Images/logo.png" alt="Gerenciador de fichas Web" />
    </div>
}